<h2>New password</h2>

<form action="/api/session/changePass" method="POST" id="changeForm">
    User email: <input type="text" id="email" name="email">
    New password: <input type="password" id="newPassword" name="newPassword">
    Repeat new password: <input type="password" id="repeatPassword" name="repeatPassword">
    <button type="submit" id="sendPass">Send</button>
</form>