<h2>New password</h2>

<form action="/api/session/changePass" method="POST" id="changeForm">
    User email: <input type="text" id="email" name="email">
    New password: <input type="password" id="pass1" name="pass2">
    Repeat new password: <input type="password" id="pass2" name="pass2">
    <button type="submit" id="sendPass">Send</button>
</form>