<h2>Reset password</h2>

<form id="resetForm" action="/api/session/resetPass" method="POST" >
     Enter your email: <input type="text" name="email" id="email">
     <button type="submit" id="send">Send</button>
</form>

